.menu {
  @include padding;
  color: $brown;
    .menu-block {
    border: 4px solid $brown;
    padding: 25px;
    width: calc(33.33% - 15px);
    margin-bottom: 15px;
    float: left;
    .menu-info {
      text-align: center;
      padding-bottom: 10px;
      h3 {
        @include fontHeadline;
        margin: 0;
        text-transform: none;
        font-size: 2.25rem;
      }
      p {
        line-height: 1;
        font-size: .75rem;
        margin: 0;
        span {
          color: $red;
          font-weight: bold;
        }
      }
    }
    .menu-items {
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px dotted lighten($brown, 60%);
        padding: 15px 0px;
        font-size: 1.15rem;
        &:last-of-type {
          padding-bottom: 0px;
        }
        .item-info {
          display: flex;
          flex-direction: column;
          padding-right: 10px;
          span:last-of-type {
            font-size: .75rem;
            line-height: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .menu .menu-block {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 640px) {
  .menu .menu-block {
    width: 100%;
  }
}