.hero {
  @include center;
  @include padding;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  min-height: 60vh;
  h1 {
    font-family: 'selimaregular', cursive;
    text-transform: none;
    font-size: 3.75rem;
    margin: 0;
    font-weight: 100;
  }
}