.specials {
  width: 100%;
  background: $red;
  color: $beige;
  text-align: center;
  padding: 15px 0px;
  h3 {
    font-family: 'Dokdo', cursive;
    text-transform: uppercase;
    margin: 0;
    font-size: 1rem;
    font-weight: 100;
  }
}