.story {
  @include padding;
  background: $red;
  .container {
    display: flex;
    align-items: center;
    color: white;
    .story-text {
      width: 75%;
      padding-right: 15px;
      h3 {
        @include fontHeadline;
        margin: 0;
        background: $yellow;
        color: $darkRed;
        display: inline-block;
        padding: 5px 15px 0px;
        margin-bottom: 15px;
        font-size: 2rem;
      }
      p {
        margin-bottom: 15px;
      }
      span {
        display: block;
        a {
          color: darken($darkRed, 10%);
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width:850px) {
  .story .container {
    flex-direction: column-reverse;
    width: 90%;
  }
  .story .story-img {
    width: 50%;
    margin-bottom: 15px;
  }
  .story .story-img img {
    margin: 0 auto;
  }
}