@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin padding {
  padding: 60px 0px;
}

@mixin fontHeadline {
  font-family: 'Dokdo', cursive;
  text-transform: uppercase;
}