@import 'variables';
@import 'reset';
@import 'mixins';

@font-face {
  font-family: 'selimaregular';
  src: url('selima_.woff2') format('woff2'),
       url('selima_.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body { 
  @include fontHeadline;
  background: $beige;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}

/** COMPONENTS **/
@import '../components/nav/nav';
@import '../components/hero/hero';
@import '../components/specials/specials';
@import '../components/menu/menu';
@import '../components/story/story';
@import '../components/footer/footer';