.footer {
  @include padding;
  background: $black;
  color: white;
  text-align: center;
  span {
    display: block;
    &:nth-of-type(2) {
      font-size: 2rem;
      padding: 15px 0px;
    }
  }
}