.nav {
  background: $red;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 5px solid darken($red, 20%);
  img {
    margin: 0;
    padding: 0 60px;
  }
  .container {
    @include center;
    .nav-items {
      width: 100%;
      display: flex;
      justify-content: space-around;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .nav {
    .container {
      .nav-items {
        display: none;
      }
    }
  }
}